In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

training_df_1 = pd.read_csv('phase1_training_data.csv')
training_df_1.head()

  country_id        date  cases  deaths  cases_14_100k  cases_100k
0         AD  12/31/2019      0       0            0.0         0.0
1         AD    1/1/2020      0       0            0.0         0.0
2         AD    1/2/2020      0       0            0.0         0.0
3         AD    1/3/2020      0       0            0.0         0.0
4         AD    1/4/2020      0       0            0.0         0.0

In [4]:
training_df_2 = pd.read_csv('phase2_training_data.csv')
training_df_2.head()

  country_id        date  cases  deaths  cases_14_100k  cases_100k
0         AD  12/31/2019      0       0            0.0         0.0
1         AD    1/1/2020      0       0            0.0         0.0
2         AD    1/2/2020      0       0            0.0         0.0
3         AD    1/3/2020      0       0            0.0         0.0
4         AD    1/4/2020      0       0            0.0         0.0

In [6]:
training_df_1['date'] = training_df_1['date'].astype('datetime64')
training_df_2['date'] = training_df_2['date'].astype('datetime64')

In [7]:
training_df_1.sort_values(['country_id', 'date'], inplace=True)
training_df_2.sort_values(['country_id', 'date'], inplace=True)

In [8]:
training_df_2.shape

(63002, 6)

In [9]:
training_df_1.shape

(58520, 6)

In [11]:
def filter_by_country(df, country_id):
    return df[df['country_id'] == country_id]

In [12]:
ca_train_df_1 = filter_by_country(training_df_1, 'CA')[filter_by_country(training_df_1, 'CA')['date'] >= '2020-03-15']
ca_train_df_1

     country_id       date   cases  deaths  cases_14_100k  cases_100k
9035         CA 2020-03-15     244       1           0.59        0.65
9036         CA 2020-03-16     304       1           0.74        0.81
9037         CA 2020-03-17     424       4           1.05        1.13
9038         CA 2020-03-18     569       8           1.43        1.52
9039         CA 2020-03-19     690       9           1.72        1.84
...         ...        ...     ...     ...            ...         ...
9235         CA 2020-10-01  158758    9297          47.82      424.36
9236         CA 2020-10-02  160535    9319          49.78      429.11
9237         CA 2020-10-03  162659    9409          53.15      434.79
9238         CA 2020-10-04  164471    9462          55.66      439.63
9239         CA 2020-10-05  166156    9481          55.44      444.14

[205 rows x 6 columns]

In [13]:
ca_train_df_2 = filter_by_country(training_df_2, 'CA')[filter_by_country(training_df_2, 'CA')['date'] >= '2020-03-15']
ca_train_df_2

     country_id       date   cases  deaths  cases_14_100k  cases_100k
9675         CA 2020-03-15     244       1           0.59        0.65
9676         CA 2020-03-16     304       1           0.74        0.81
9677         CA 2020-03-17     424       4           1.05        1.13
9678         CA 2020-03-18     569       8           1.43        1.52
9679         CA 2020-03-19     690       9           1.72        1.84
...         ...        ...     ...     ...            ...         ...
9895         CA 2020-10-21  203688    9794          81.70      544.46
9896         CA 2020-10-22  206360    9829          82.33      551.60
9897         CA 2020-10-23  209148    9862          82.95      559.05
9898         CA 2020-10-24  211732    9888          89.85      565.96
9899         CA 2020-10-25  213959    9922          95.81      571.91

[225 rows x 6 columns]

In [17]:
ca_train_df_1['date']

9035   2020-03-15
9036   2020-03-16
9037   2020-03-17
9038   2020-03-18
9039   2020-03-19
          ...
9235   2020-10-01
9236   2020-10-02
9237   2020-10-03
9238   2020-10-04
9239   2020-10-05
Name: date, Length: 205, dtype: datetime64[ns]

In [16]:
ca_train_df_2['date']

9675   2020-03-15
9676   2020-03-16
9677   2020-03-17
9678   2020-03-18
9679   2020-03-19
          ...
9895   2020-10-21
9896   2020-10-22
9897   2020-10-23
9898   2020-10-24
9899   2020-10-25
Name: date, Length: 225, dtype: datetime64[ns]

In [21]:
ca_train_df_2[(ca_train_df_2['date'] >= '2020-10-06') & (ca_train_df_2['date'] <= '2020-10-16')].to_csv('phase_1_answer.csv', index=False)

In [23]:
training_df_2[training_df_2['date'] >= '2020-10-06'].to_csv('general_phase_1_answer.csv', index=False)